<div id="voluntariosNoLoginWrapper" class="container-fluid">
        <div class="row">
           <div class="col-md-12">
              <h2 class="titlePage">¿Qué puedes hacer tú?</h2>
               <p>Voluntarios por Madrid es el instrumento de participación ciudadana activa de los madrileños y madrileñas en la ciudad.</p><p>
               Ser voluntario por Madrid es pertenecer a un equipo de personas solidarias y positivas donde crear vínculos de amistad y compartir emociones.</p><p>
               Ser voluntario por Madrid es participar en lo que más te gusta: programas sociales, culturales, medioambientales, deportivos, con animales… Como quieras y cuando quieras.</p>

          <div class="wrapperColaborar">
              <h3 class="titlePage">Hazte voluntario</h3>
              <p>Si te sientes una persona solidaria y te apetece hacer algo por los demás, puedes hacer mucho más de lo que crees por tu ciudad, por tus vecinos, por tu entorno. En Voluntarios por Madrid te indicamos cómo.</p>
              <%= link_to 'Quiero ser voluntario', new_rt_volunteer_subscribe_path, class: "event-link big" %>
          </div>
           </div>

        </div>
    </div>

