
<div id="entidadessNoLoginWrapper" class="container-fluid">
        <div class="row">
           <div class="col-md-12">
              <h2 class="titlePage">Entidades colaboradoras</h2>
               <p>En el Programa Municipal de Voluntariado colaboramos con las entidades sociales sin ánimo de lucro en la realización de proyectos conjuntos y proporcionamos los voluntarios que necesiten para desarrollar sus proyectos solidarios.</p> <p>
Colaboramos con otras áreas, organismos, asociaciones, instituciones, fundaciones, empresas y demás colectivos que demanden personas voluntarias para las distintas acciones solidarias que quieran llevar a cabo.</p>

          <div class="wrapperColaborar">
              <h3 class="titlePage">¿Necesitas voluntarios?</h3>
              <p>Si eres una entidad y necesitas voluntarios para llevar a cabo tu proyecto o quieres proponernos uno nuevo, ponte en contacto con nosotros.</p>
              <%= link_to 'Quiero darme de alta como entidad', new_rt_entity_subscribe_path, class: "event-link big" %>
          </div>
           </div>

        </div>
    </div>





