<div id="entidadessNoLoginWrapper" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="titlePage">Entidades colaboradoras</h2>
      <p>En el Programa Municipal de Voluntariado colaboramos con las entidades sociales sin ánimo de lucro en la realización de proyectos conjuntos y proporcionamos los voluntarios que necesiten para desarrollar sus proyectos solidarios.</p>
      <div class="wrapperColaborar">
        <h3 class="titlePage">¿Necesitas voluntarios?</h3>
        <h3 class="titlePage">¿Quieres publicar un proyecto?</h3>
        <h3 class="titlePage">¿Quieres difundir una actividad?</h3>
        <p>Si eres una entidad ponte en contacto con nosotros.</p>
        <% if !current_user || current_user.loggable_type == "Volunteer" %>
            <%= link_to t('application.register_entity'), new_entity_path, class: "event-link big" %>

        <% end %>
      </div>
    </div>
  </div>
</div>