<% if current_user %>
<% if current_user.loggable_type=="Entity" %>
<li class="areaT"><svg width="17px" height="16px" viewBox="44 228 27 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Group-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(45.000000, 229.000000)">
  <path d="M12.4285714,0.357142857 C15.0274286,0.357142857 17.1428571,3.09657143 17.1428571,6.46428571 C17.1428571,9.83285714 15.0274286,12.5714286 12.4285714,12.5714286 C9.82971429,12.5714286 7.71428571,9.83285714 7.71257143,6.46428571 C7.71257143,3.09657143 9.828,0.357142857 12.4285714,0.357142857 Z" id="Path" stroke="#FF6600" stroke-width="2.5"></path>
<path d="M17.8277143,13.4285714 C17.3537143,13.4285714 16.9705714,13.8117143 16.9705714,14.2857143 C16.9705714,14.7597143 17.3537143,15.1428571 17.8277143,15.1428571 C20.7582857,15.1428571 23.1428571,17.5274286 23.1428571,20.4588571 C23.1428571,20.8351429 22.8351429,21.1428571 22.4562857,21.1428571 L2.39914286,21.1428571 C2.022,21.1428571 1.71428571,20.8368571 1.71428571,20.4588571 C1.71428571,17.5274286 4.098,15.1428571 7.02771429,15.1428571 C7.50171429,15.1428571 7.88485714,14.7597143 7.88485714,14.2857143 C7.88485714,13.8117143 7.50171429,13.4285714 7.02771429,13.4285714 C3.15257143,13.4285714 0,16.5828571 0,20.4588571 C0,21.7814286 1.07657143,22.8571429 2.39914286,22.8571429 L22.4562857,22.8571429 C23.7797143,22.8571429 24.8571429,21.7814286 24.8571429,20.4588571 C24.8571429,16.5828571 21.7028571,13.4285714 17.8277143,13.4285714 Z" id="Path" stroke="#FF6600" stroke-width="0.8" fill="#FF6600"></path>
</g>
</svg><%= link_to 'Area personal', user_path(current_user.id) %></li>
<% end %>
<% if current_user.loggable_type=="Volunteer" %>
<li class="areaT"><svg width="17px" height="16px" viewBox="44 228 27 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
<desc>Created with Sketch.</desc>
<defs></defs>
<g id="Group-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(45.000000, 229.000000)">
<path d="M12.4285714,0.357142857 C15.0274286,0.357142857 17.1428571,3.09657143 17.1428571,6.46428571 C17.1428571,9.83285714 15.0274286,12.5714286 12.4285714,12.5714286 C9.82971429,12.5714286 7.71428571,9.83285714 7.71257143,6.46428571 C7.71257143,3.09657143 9.828,0.357142857 12.4285714,0.357142857 Z" id="Path" stroke="#FF6600" stroke-width="2.5"></path>
<path d="M17.8277143,13.4285714 C17.3537143,13.4285714 16.9705714,13.8117143 16.9705714,14.2857143 C16.9705714,14.7597143 17.3537143,15.1428571 17.8277143,15.1428571 C20.7582857,15.1428571 23.1428571,17.5274286 23.1428571,20.4588571 C23.1428571,20.8351429 22.8351429,21.1428571 22.4562857,21.1428571 L2.39914286,21.1428571 C2.022,21.1428571 1.71428571,20.8368571 1.71428571,20.4588571 C1.71428571,17.5274286 4.098,15.1428571 7.02771429,15.1428571 C7.50171429,15.1428571 7.88485714,14.7597143 7.88485714,14.2857143 C7.88485714,13.8117143 7.50171429,13.4285714 7.02771429,13.4285714 C3.15257143,13.4285714 0,16.5828571 0,20.4588571 C0,21.7814286 1.07657143,22.8571429 2.39914286,22.8571429 L22.4562857,22.8571429 C23.7797143,22.8571429 24.8571429,21.7814286 24.8571429,20.4588571 C24.8571429,16.5828571 21.7028571,13.4285714 17.8277143,13.4285714 Z" id="Path" stroke="#FF6600" stroke-width="0.8" fill="#FF6600"></path>
</g>
</svg><%= link_to 'Area personal', user_path(current_user.id) %></li>
<% end %>
</div>
<% end %>