
<div class="modal-alert ">
      
        <a href="#" class="close-info" title="cerrar">Cerrar</a>
      
      <h2 class="title-modal">Últimos dias de periodo voluntario de pago de tributos</h2>
      <p>El 2 de Diciembre finaliza el plazo para el pago.
            
                <a class="link-modal" href="#">Realiza ahora el tramite sin moverte de casa.</a>
            
        </p>
    </div>  


