  <div class="col-md-12"> 
<main class="mainContent"> 
    

<div class="bg-fluid0">
  <div class="container nofluid">
    <div class="al-minuto">
      <h2 class="title4">Comunidad Virtual del Voluntariado</h2>
      
      <ul class="row">
        <li class="col-sm-6 col-md-3">
          <div class="items">
            <div class="image">
              <%= image_tag("gobierno-abierto/datos-abiertos.png", size: "170x180", alt: t("welcome.debates.alt"), title: t("welcome.debates.title")) %>
            </div>
            <div class="content-box">
              <a class="title">Proyectos</a>
              <p>Quiero ver los proyectos de voluntariado existentes.</p>

            </div>
          </div>
        </li>
        <li class="col-sm-6 col-md-3">
          <div class="items">
            <div class="content-box air-quality">
              <a class="title">Voluntarios</a>
              <p>Quiero inscribirme como voluntario.</p>
            </div>
          </div>
        </li>
        <li class="col-sm-6 col-md-3">
          <div class="items">
            <div class="content-box traffic">
              <a class="title">Entidades</a>
              <p>Soy una entidad.</p>
            </div>
          </div>
        </li>
        <li class="col-sm-6 col-md-3">
          <div class="items">
            <div class="content-box move-across">
              <a class="title">Agenda</a>
              <p>Conoce todas las actividades y elige tu mejor opción</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


  </main>
  </div>