<div class="row">
<div class="event-location"><span data-latitude="" data-longitude="" data-name="" data-direction=""><%= event.address.road_name %></span></div>
</div>
<br/>
<% event.timetables.each do |timetable| %> 
 <div class="row"> 
  <div class="event-date"><span><%= timetable.execution_date %></span></div>
 </div> 
<% end %>