<span data-latitude="" data-longitude="" data-name="" data-direction=""><%= event.address.road_name %></span>

<% event.timetables.each do |timetable| %> 

<span><%= timetable.execution_date %></span>

<% end %>
