<div id="quienesSomos" class="container-fluid">
        <div class="row">
           <div class="col-md-12">
              <h2 class="titlePage">¿Quiénes somos?</h2>
               <p>Voluntarios por Madrid es el programa municipal de voluntariado. El Departamento de Voluntariado pertenece al Área de Gobierno de Participación Ciudadana, Transparencia y Gobierno Abierto del Ayuntamiento de Madrid.</p><p>
Voluntarios por Madrid contamos con un cuerpo de voluntarios propio, al que se puede pertenecer cuándo y cómo se quiera y en aquellas actividades que más interesan. Además, realizamos numerosos proyectos y acciones solidarias en todos los ámbitos de la vida social de la ciudad.</p>
<hr>

          <h3 class="dataGroup">Puedes contactar con nosotros en: </h3>
          <h4>Oficina de Atención a Voluntarios</h4>
          <p class="data">C/ Alcalá, 45, planta baja. 28045 Madrid (de 9 a 18 h. de lunes a jueves y de 9 a 15 h. los viernes)</p>

          <h4>Teléfono de atención gratuito</h4>
          <p class="data">900 777 888 (de 9 a 18 h. de lunes a jueves y de 9 a 15 h. los viernes)</p>

          <h4>Nuestro correo electrónico</h4>
          <p class="data"><a href="">voluntariospormadrid@madrid.es</a></p>

          <h3 class="dataGroup">También puedes seguir toda nuestra actividad a través de estas redes sociales:</h3>
           <nav>
                  <ul class="redes">
                    <li><a href="https://www.facebook.com/voluntariospormadrid/" target: "blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
</li>
                    <li><a href="https://twitter.com/voluntmadrid", target: "blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</li>
                    <li><a href="https://www.instagram.com/voluntariosxmadrid/" target: "_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</li>
                    <li><a href="https://www.youtube.com/channel/UC8LQ25uGMGHE7wq5ihMx_7A" target: "_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
</li>
                </ul>
                </nav>
           </div>

        </div>
    </div>