

<%= search_form_for(@search, url:"/projects", :method => :get, remote: true) do |f| %>
<div class='form form-electronic'>
<div class="bg-fluid0">
                            
  <div class="panel panel-type1 searcher-diary nofluid">
    <div class="panel-heading">
        
        <a href="#searcher-diary" data-toggle="collapse" class="panel-title collapsed">Buscar proyectos</a>
        
    </div>
    <div class="panel-body collapse in" id="searcher-diary">
        <form class="form">
                <legend class="form-legend">¿Qué buscas?</legend>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="labelUp">Descripción <span class="asterisco">*</span></span>
                              <%= f.text_area :description_cont %>
                        </div>
                    </div>
                   
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="labelUp">Ambito </span>
                              <input type="text"></input> 
                        </div>
                    </div>
                   
            </div>
                <legend class="form-legend">¿Dónde?</legend>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                         <div class="form-group">
                            <label for="id_propuesta">
                            <span class="labelUp">Distrito <span class="asterisco">*</span></span>
                            <%= f.select :districts_id_eq, districts_select_options, class:"box6"%> 
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                         <div class="form-group">
                            <label for="id_propuesta">
                            <span class="labelUp">Barrio </span>
                            
                            <select></select>
                            </label>
                        </div>
                    </div>
                    
                </div>
           
            
                    
            


            <div class="button-group text-right">
                
                <%= f.submit "Buscar", class: "button button4 button-icon"  %>

            </div>


            <div id="map">
            </div>
        </form>
    </div>
</div>
</div>                            
</div>
<% end %>

<!-- en modo cuadricula -->








