<div class="container-fluid">
   
<h2 class="titlePage"><%= Project.actives.count %> proyectos</h2>
<div id="grid">
<div id = "projects">
 <% @projects_actives.each_slice(3) do |group| %>
   <ul class="row">
      <%= render partial: 'project', collection: group %>
   </ul>
 <% end %> 
</div>
</div>
</div>

<% if @projects_actives.current_page != @projects_actives.total_pages %>
<p id="view-more">
   <%= link_to('Ver Más', url_for(page: @projects_actives.current_page + 1), {:remote => true}) %>
</p>
<% end%>
