<% rt_extendable = @request_form.rt_extendable %>
<div id="request_form" >
      <%= hidden_field_tag :rt_extension, @rt_extension %>

      <%= render partial: "rt_volunteer_subscribes/form" %>
      
      
  
</div>