@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button-group {
    & > * {
        margin-left: 30px;
    }
}

.pb90 {
    padding-bottom: 90px;
}

.mr30 {
    margin-right: 30px;
}

.mt45 {
    margin-top: 45px;
}

body {
    &.projects_show , &.pages_whoami, &.volunteers_index{
        #HeaderWrapper {
            background-image: none !important;
            height: unset;
            border-bottom: solid 1px rgba(29, 29, 29, 0.3);
        }
    }
}

.d-block {
    display: block;
}

.navbar-default .navbar-nav > li {
    a {
        &.selected {
            border-bottom: solid 8px #ff6600;
        }
    }
}

a {
    &.link {
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba(29, 29, 29, 0.8);
        text-decoration: underline;
    }
}

.event-link {
    border: 0;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    display: inline-block;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(255, 102, 0, 0.7);
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    color: #1d1d1d;
    padding: 0 30px;
    &.negative {
        background-color: transparent;
        height: 38px;
        line-height: 38px;
        border: solid 1px rgba(255, 102, 0, 0.5);
    }
    &.dark {
        border: solid 1px rgba(29, 29, 29, 0.5);
    }
    &.rightChev {
        position: relative;
        padding-right: 43px;
        &:before {
            content: "\f105";
            font-family: FontAwesome;
            font-size: 20px;
            position: absolute;
            right: 25px;
            font-weight: 400;
            color: #ff6600;
        }
    }
    &.noborder {
        border: 0px;
    }
    &.big {
        height: 56px;
        line-height: 56px;
        font-size: 18px;
        padding: 0 45px;
    }
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}

.right {
    float: right;
}

.no-padding-left {
    padding-left: 0;
}

#headerTop {
    height: 69px;
    border-bottom: solid 1px #000000;
    padding: 0;
    * {
        line-height: 69px;
    }
    span {
        font-weight: 700;
        color: #000000;
        font-size: 15px;
    }
}

#menuWrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 0;
    padding-right: 0;
}

#HeaderWrapper {
    padding-left: 0;
    padding-right: 0;
    height: 600px;
    background-size: cover;
    position: relative;
    .sessionTrigger {
        line-height: 100px;
        display: inline-block;
        a {
            border-radius: 100px;
            height: 40px;
            padding: 11px 30px;
            border: solid 1px rgba(29, 29, 29, 0.5);
            font-size: 14px;
            font-weight: 700;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
        }
    }
}

.dropdown {
    line-height: 100px;
}

.urgenteWrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30px 15% 35px 45px;
    background-color: rgba(242, 242, 242, 0.85);
    h2 {
        font-family: 'Merriweather', serif;
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
    }
    p {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.8px;
        color: #1d1d1d;
        margin-top: 9px;
    }
    a {
        color: rgba(29, 29, 29, 0.5);
    }
    i {
        width: 56px;
        height: 56px;
        text-align: center;
        border-radius: 100px;
        background-color: rgba(29, 29, 29, 0.15);
        font-size: 30px;
        position: absolute;
        right: 45px;
        top: 50%;
        transform: translateY(-50%);
        &:before {
            line-height: 56px;
        }
    }
    //height: 136px;
}

.modal-dialog {
    z-index: 9999;
}

.section-cont {
    text-align: center;
    padding: 45px 20%;
    background-color: #ff6600;
    //margin-top: -60px;
    margin-bottom: 90px;
    h2 {
        span {
            font-family: Lato;
            font-size: 28px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 1.2px;
            text-align: center;
            color: #000000;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 277px;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 277px;
}

.redes,
.links {
    padding: 0;
    li {
        display: inline-block;
    }
}

footer {
    h3 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: #ffffff;
        margin-bottom: 15px;
    }
    p.tlf {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #ffffff;
    }
    a.email {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.8px;
        color: #ffffff;
        text-decoration: underline;
    }
    #widgetArea {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: rgba(0, 0, 0, 0.85);
        .column {
            padding-left: 45px;
            padding-right: 45px;
            &:nth-child(2) {
                border-left: solid 1px rgba(255, 255, 255, 0.15);
                border-right: solid 1px rgba(255, 255, 255, 0.15);
            }
        }
        .redes {
            margin-top: 25px;
            li {
                i {
                    font-size: 20px;
                    width: 56px;
                    height: 56px;
                    border-radius: 100px;
                    border: solid 1px rgba(255, 255, 255, 0.5);
                    text-align: center;
                    line-height: 56px;
                    margin-right: 24px;
                    color: #ffffff;
                }
                &:last-child {
                    i {
                        margin-right: 0;
                    }
                }
            }
        }
        .form-group {
            position: relative;
            button {
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                border: 0;
                width: 18px;
                height: 24px;
                padding: 0;
                i {
                    line-height: 24px;
                    text-align: center;
                    font-size: 24px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
        input[type="text"] {
            display: block;
            width: 100%;
            height: 56px;
            border-radius: 28px;
            background-color: rgba(255, 255, 255, 0.05);
            border: solid 1px rgba(255, 255, 255, 0.3);
            padding-left: 30px;
            margin-top: 25px;
            color: #ffffff;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.8px;
                color: #ffffff;
            }
        }
    }
    #linkArea {
        padding: 20px 30px 24px 30px;
        * {
            line-height: 1;
        }
        li {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #000000;
            a {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
                color: #000000;
                padding-left: 2px;
                text-decoration: underline;
            }
        }
        .links {
            li {
                &:nth-child(2) {
                    margin-left: 28px;
                }
            }
        }
    }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3d3d3d;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0;
}

.collapsing {
    right: 0;
}

main {
    //padding-top: 60px;
}

h1,
h2,
h3 {
    &.titlePage {
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        margin-bottom: 45px;
    }
}


/*AVISOS*/

#avisos {
    position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    line-height: 55px;
    background-color: rgb(243, 243, 243);
    padding: 0 45px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 900;
    z-index: 99999;
    .close {
        float: right;
        font-size: 21px;
        font-weight: 900;
        line-height: 55px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }
}


/*AGENDA*/

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: unset;
    &:after {
        content: "";
        display: none;
    }
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background-color: unset;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: unset;
    padding-top: 15px;
    padding-bottom: 10px;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-color: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-repeat: unset;
    border-color: unset;
    border-color: unset;
    filter: unset;
    color: unset;
    text-shadow: unset;
}

.datepicker {
    background-color: #ffffff;
    thead {
        tr {
            //                th{
            //                    &:first-child{
            //                        text-align: left;
            //                    } &:last-child{
            //                        text-align: right;
            //                    }
            //                }
            &:nth-child(2) {
                position: relative;
                th {
                    border-bottom: solid 1px rgba(29, 29, 29, 0.15);
                    padding-bottom: 5px;
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                    text-align: center;
                    color: #1d1d1d;
                }
            }
            &:nth-child(1) {
                th {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.38;
                    letter-spacing: 0.8px;
                    color: #1d1d1d;
                }
            }
        }
    }
    tbody {
        td {
            padding-top: 10px;
        }
        tr {
            &:first-child {}
            //            td{
            //                &:first-child{
            //                    text-align: left;
            //                }
            //                &:last-child{
            //                    text-align: right;
            //                }
            //            }
        }
    }
    td {
        width: 40px;
        height: 40px;
        padding: 0;
        padding-top: 10px;
    }
    &.datepicker-inline {
        width: unset;
        border: solid 1px rgba(29, 29, 29, 0.3);
        border-radius: 0px;
    }
    .table-condensed {
        width: 100%;
    }
    .day {
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1d1d1d;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 2px;
            right: 11px;
            width: 10px;
            height: 10px;
            background-color: #ff6600;
            border-radius: 100px;
        }
        &.old,
        &.new {
            &:after {
                display: none;
            }
            pointer-events: none;
            color: rgba(29,
            29,
            29,
            0.3);
            a {
                color: rgba(29, 29, 29, 0.3);
            }
            &.active {}
        }
        &.active {
            &:before {
                content: "";
                width: 40px;
                height: 40px;
                background-color: rgba(254, 102, 0, 0.3);
                border-radius: 100px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            background-color: unset;
            background: unset;
            a {
                color: #1d1d1d;
            }
        }
        a {
            color: #1d1d1d;
        }
    }
}

.numActividades {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1.3px;
    color: #1d1d1d;
}

.actividadWrapper {
    padding: 30px;
    border: solid 1px rgba(29, 29, 29, 0.3);
    border-left: solid 6px #ff6600;
    margin-bottom: 30px;
    background-color: #ffffff;
    .fecha {
        font-size: 52px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.0;
        letter-spacing: 3.5px;
        text-align: center;
        color: rgba(29, 29, 29, 0.7);
        border-right: solid 1px rgba(29, 29, 29, 0.3);
        span {
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.8px;
            text-align: center;
            color: rgba(29, 29, 29, 0.7);
            display: block;
        }
    }
    .distrito {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba(29, 29, 29, 0.8);
    }
    .titular {
        font-family: 'Merriweather', serif;
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 90%;
        overflow: hidden;
    }
}


/*HOME*/

#actividadesHome {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 1.3px;
        color: #1d1d1d;
        margin-bottom: 30px;
    }
    .actividadWrapper {
        &:nth-child(3) {
            display: block;
        }
        &:nth-child(2) {
            display: block;
        }
        display: none;
    }
}

.destacadosWrapperHome {
    margin-bottom: 90px;
}

.gallery-item {
    background-color: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    header {
        height: 300px;
        overflow: hidden;
        text-align: center;
        position: relative;
        img {
            width: 150%;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .main {
        padding: 20px;
        h3 {
            font-family: 'Merriweather', serif;
            font-size: 28px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 1.2px;
            color: #1d1d1d;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 0.7px;
            color: rgba(29, 29, 29, 0.8);
            margin-top: 15px;
        }
        .category {
            display: inline-block;
            line-height: 40px;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.3px;
            color: #1d1d1d;
            width: 170%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .event-link {
            display: inline-block;
            height: 40px;
            border-radius: 100px;
            background-color: rgba(255, 102, 0, 0.7);
            line-height: 40px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            padding: 0 30px;
        }
    }
    .ctaGroupPreview {
        margin-top: 30px;
    }
}

#mapWrapper {
    // height: 520px;
    // background-color: rgba(206, 206, 206, 1);
    // h1 {
    //     line-height: 520px;
    // }
}

#blogCta {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 15%;
    padding-right: 15%;
    .titlePage {
        margin-bottom: 15px;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 0.8px;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
    }
}


/*LOGIN*/

#loginContainer {
    .event-link {
        margin-bottom: 30px;
    }
    p {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.7px;
        margin-bottom: 45px;
    }
    .list-inline {
        margin-left: 0px;
    }
    .buttons {
        a {
            line-height: 56px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.7px;
            color: rgba(29, 29, 29, 0.8);
            text-decoration: underline;
        }
        * {
            display: inline-block;
        }
    }
    .form-container {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 120px;
        h2 {
            font-size: 28px;
            font-weight: 900;
            line-height: 1.43;
            letter-spacing: 1.2px;
            margin-bottom: 45px;
        }
    }
    .form-group {
        width: 100%;
    }
    input {
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        height: 48px;
        border-radius: 6px;
        background-color: #f2f2f2;
        border: solid 1px rgba(29, 29, 29, 0.1);
        padding-left: 20px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        margin-bottom: 30px;
        width: 100%;
        &:focus {
            outline: none;
            border: solid 1px rgba(255, 102, 0, 0.3);
        }
    }
    .form-group {
        display: inline-block;
        margin: 0;
        margin-right: 30px;
        .field_with_errors {
            input,
            select {
                border: solid 1px #d0011b;
                background-color: rgba(208, 1, 26, 0.05);
            }
        }
        label {
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            margin-bottom: 10px;
            .asterisco {
                color: #fc4f08;
                padding-left: 2px;
            }
        }
    }
    label {
        display: block;
    }
}


/*VOLUNTARIOS*/

#voluntariosNoLoginWrapper,
#entidadessNoLoginWrapper,
#quienesSomos {
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.05);
    P {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 1px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 10px;
    }
    h3.dataGroup {
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 1px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 25px;
        margin-top: 45px;
    }
    h4 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 5px;
        margin-top: 20px;
    }
    hr {
        margin: 0;
        margin-top: 60px;
        border-top: solid 1px rgba(29, 29, 29, 0.15);
    }
    p.data {
        font-size: 14px;
        color: rgba(29, 29, 29, 0.8);
        line-height: 1.43;
        letter-spacing: 0.7px;
        a {
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: 0.7px;
            color: rgba(29, 29, 29, 0.8);
            text-decoration: underline;
        }
    }
    .redes {
        margin-top: 42px;
        li {
            i {
                font-size: 17px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                border: solid 1px rgba(29, 29, 29, 0.3);
                text-align: center;
                line-height: 40px;
                margin-right: 24px;
                color: rgba(29, 29, 29, 0.8);
            }
            &:last-child {
                i {
                    margin-right: 0;
                }
            }
        }
    }
    .wrapperColaborar {
        padding: 60px 12%;
        background-color: #ffffff;
        margin-top: 60px;
        text-align: center;
        h3 {
            margin-bottom: 15px;
        }
        p {
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            letter-spacing: 0.8px;
            text-align: center;
            color: #000000;
            margin-bottom: 30px;
        }
    }
}


/*PROYECTOS*/

.tags {
    margin-bottom: 15px;
    .tag {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        border-radius: 100px;
        background-color: rgba(29, 29, 29, 0.08);
        padding: 0 15px;
        margin-right: 10px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.6px;
        color: #1d1d1d;
    }
}

.numVolum {
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #1d1d1d;
    margin-top: 10px;
    margin-bottom: 30px;
}

#view-more {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    a {
        display: block;
        text-align: center;
        line-height: 40px;
        color: rgba(29, 29, 29, .5)
    }
}

.buscarProyectos {
    .panel {
        margin-top: -125px;
        border: 0px;
        box-shadow: unset;
        .panel-body {
            background-color: rgba(0, 0, 0, 0.05);
            padding-top: 60px;
        }
    }
    .form-group {
        &.tagW {
            margin-right: 10px;
        }
    }
    input[type="text"],
    select {
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        height: 40px;
        border-radius: 100px;
        background-color: rgba(254, 254, 254, 0.3);
        border: solid 1px rgba(29, 29, 29, 0.5);
        &:focus {
            outline: none;
            border: solid 1px rgba(255, 102, 0, 0.3);
        }
        &.small {
            width: 174px;
        }
        &.big {
            width: 362px;
        }
    }
    input[type="checkbox"] {
        position: fixed;
        top: -1000000000000px;
    }
    span.tag {
        height: 32px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.7);
        border: solid 1px rgba(29, 29, 29, 0.3);
        display: inline-block;
        line-height: 32px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: #1d1d1d;
        padding-right: 15px;
        padding-left: 15px;
        text-transform: lowercase;
        i {
            margin-right: 5px;
        }
        &:focus {
            outline: none;
        }
    }
    input:checked+span.tag {
        background-color: rgba(29, 29, 29, 0.7);
        border: solid 1px #1d1d1d;
        color: #ffffff;
    }
    .form-legend {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        padding-bottom: 10px;
        border-bottom: solid 1px rgba(29, 29, 29, 0.3);
        margin-top: 30px;
        span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
        }
    }
    //   .panel-heading{
    //      position: relative;
    //        top: -125px;
    //}
}

.cajaBusqueda {
    padding: 20px 45px;
    border-radius: 4px;
    background-color: rgba(29, 29, 29, 0.8);
    .verFiltros {
        display: inline-block;
        height: 40px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.8);
        border: solid 1px rgba(255, 255, 255, 0.3);
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        padding-left: 30px;
        padding-right: 30px;
    }
    .conjuntoBusqueda {
        position: relative;
        .buscarInput {
            height: 40px;
            border-radius: 100px;
            background-color: #ffffff;
            border: solid 1px rgba(29, 29, 29, 0.5);
            width: 100%;
            padding-left: 30px;
        }
        .lupa {
            position: absolute;
            top: 50%;
            right: 25px;
            background-color: #fff;
            border: 0;
            transform: translateY(-50%);
            &:after {
                content: "\f002";
                font-family: FontAwesome;
                font-size: 16px;
                color: #ff6600;
            }
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff;
    background-image: none;
    color: rgb(0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #1d1d1d;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    background-color: #fff;
}

.form {
    hr {
        margin-top: 45px;
        margin-bottom: 45px;
        border-top: solid 1px rgba(29, 29, 29, 0.15);
    }
    fieldset {
        input,
        select {
            appearance: none;
            -moz-appearance: none;
            /* Firefox */
            -webkit-appearance: none;
            /* Safari and Chrome */
            height: 48px;
            border-radius: 6px;
            background-color: #f2f2f2;
            border: solid 1px rgba(29, 29, 29, 0.1);
            padding-left: 20px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            margin-bottom: 30px;
            &:focus {
                outline: none;
                border: solid 1px rgba(255, 102, 0, 0.3);
            }
        }
        select {
            &.small {
                width: 146px;
            }
            &.medium {
                width: 233px;
            }
            &.big {
                width: 321px;
            }
        }
        input {
            &.small {
                width: 146px;
            }
            &.medium {
                width: 233px;
            }
            &.big {
                width: 321px;
            }
        }
    }
    .form-group {
        display: inline-block;
        margin: 0;
        margin-right: 30px;
        .field_with_errors {
            input,
            select {
                border: solid 1px #d0011b;
                background-color: rgba(208, 1, 26, 0.05);
            }
        }
        label {
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            margin-bottom: 10px;
            .asterisco {
                color: #fc4f08;
                padding-left: 2px;
            }
        }
    }
    label {
        display: block;
    }
}


/*DETALLE*/

.single {
    padding-top: 42px;
    .summary-title {
        font-family: 'Merriweather';
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
    }
}

.carousel {
    margin-bottom: 30px;
}




.carousel-control {
    &.right,
    &.left {
        background-image: unset;
        i {
            position: absolute;
            top: 50%;
        }
    }
}

.tramites-content {
    margin-bottom: 45px;
    p {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba (29, 29, 29, 0.80)
    }
}


.videoWrapper{
    margin-top: 45px;
    	border: solid 1px rgba(29, 29, 29, 0.3);

}

.wraperData{
    padding-top: 44px;
    padding-bottom: 35px;
    padding-right: 30px;
}
.item.noTitle {
    h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: 0.3px;
        color: #1d1d1d;
        margin-bottom: 20px;
    }
    dl {
        dd {
            margin-bottom: 10px;
            a {
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: 0.3px;
                color: #1d1d1d;
                text-decoration: underline;
            }
        }
    }
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}


/*PROFILE*/

.profileW {
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 60px;
    padding-bottom: 45px;
}

.profile {
    .botones {
        margin-top: 30px;
    }
    .userName {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        margin-bottom: 30px;
        svg {
            color: #ff6600;
            margin-right: 15px;
        }
    }
    p {
        font-size: 18px;
        letter-spacing: 1px;
        color: rgba( 29, 29, 29, 0.80);
        margin-bottom: 15px;
    }
}

.projectW {
    padding-top: 60px;
    .projectNumber {
        margin-top: -30px;
        font-size: 18px;
        letter-spacing: 1px;
        color: rgba( 29, 29, 29, 0.80);
        margin-bottom: 45px;
    }
}

.pestaniasActividadProyecto {
    border-bottom: solid 1px rgba(29, 29, 29, 0.3);
    margin-top: 60px;
    margin-bottom: 30px;
    li {
        display: inline-block;
        margin-right: 60px;
        padding-bottom: 20px;
        a {
            font-size: 28px;
            font-weight: 900;
            line-height: 1.43;
            letter-spacing: 1.2px;
            color: #1d1d1d;
        }
    }
}

@media(max-width:410px) {
    #headerTop {
        span {
            font-size: 13px;
        }
        img {
            width: 85%;
        }
    }
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand {
        img {
            width: 85%;
        }
    }
}

@media(max-width:470px) {
    .profile {
        .botones {
            a {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media(max-width:767px) {
    .centerMobile {
        text-align: center !important;
    }
    .projectW .projectNumber {
        text-align: center;
    }
    .profile {
        .contacto {
            margin-top: 30px;
        }
        .botones {
            text-align: center;
            a {
                margin-bottom: 30px;
            }
        }
    }
    #loginContainer {
        text-align: center;
        .form-group {
            margin-right: 0;
        }
        .event-link.big {
            width: 100%;
        }
        .buttons * {
            display: block;
        }
        .buttons {
            padding-left: 25px;
            padding-right: 25px;
        }
        .list-inline {
            display: block;
            width: 100%;
            a {
                display: block;
            }
        }
        .form-container {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 40px;
        }
        label {
            text-align: left;
        }
        .pull-right {
            float: none !important;
        }
    }
    #actividadesHome {
        h4 {
            margin-top: 27px;
        }
    }
    h1.titlePage,
    h2.titlePage {
        text-align: center;
        .right {
            float: none;
            margin-top: 18px;
        }
    }
    .gallery-item {
        margin-bottom: 20px;
        header {
            height: 242px;
        }
    }
    .section-cont {
        padding: 35px 20px;
        h2 span {
            font-size: 18px;
        }
    }
    footer {
        text-align: center;
        #widgetArea {
            .column {
                border: 0;
                border-bottom: solid 1px rgba(255, 255, 255, 0.15);
                padding: 0;
                padding-top: 40px;
                padding-bottom: 40px;
                &:nth-child(1) {
                    padding-top: 0;
                }
                &:nth-child(2) {
                    border-left: 0;
                    border-right: 0;
                }
                &:nth-child(3) {
                    border-bottom: 0;
                }
            }
        }
    }
    .urgenteWrapper {
        padding-right: 30%;
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
}

@media(min-width:768px) {
    .navbar-nav > li > a {}
}

@media(max-width:942px) {
    #loginContainer {
        .pull-right {
            float: none !important;
        }
    }
}

@media(min-width:768px) and (max-width:992px) {
    footer {
        p.tlf {
            font-size: 23px;
            font-weight: 900;
        }
        a.email {
            font-size: 13px;
        }
        #widgetArea {
            .column {
                &:nth-child(2) {
                    border-right: 0;
                }
                &:nth-child(3) {
                    padding-top: 40px;
                    margin-top: 40px;
                    border-top: solid 1px rgba(255, 255, 255, 0.15);
                    text-align: center;
                }
                //padding: 0;
            }
        }
        #linkArea {
            .links1,
            .links2 {
                text-align: center;
                ul {
                    text-align: center;
                }
            }
            .links1 {
                margin-bottom: 25px;
            }
        }
    }
}

@media(min-width:992px) {}

@media (max-width: 1020px) {
    #menuWrapper {
        background-color: rgba(255, 255, 255, 1);
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background-image: url(/assets/icons/close_menu.svg);
        width: 24px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        &.collapsed {
            width: 24px;
            background-image: url(/assets/icons/open_menu.svg);
            background-size: 24px 20px;
            background-position: center;
        }
    }
    .navbar-collapse {}
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        padding-top: 30px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-default .navbar-nav > li {
        margin-left: 0;
        text-align: center;
        a {
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            &.selected {
                border-bottom: solid 8px #ff6600;
            }
        }
    }
    #navbar {
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0px;
        z-index: 99;
    }
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (min-width: 1021px) and (max-width: 1283px) {
    .navbar-header {
        float: none;
    }
    .dropdown {
        line-height: 30px;
    }
    .navbar-right {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        display: block;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
            visibility: hidden;
        }
        li {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            float: none;
            height: 30px;
            & > a {
                line-height: 30px !important;
            }
            &:first-child {
                margin: 0;
            }
        }
    }
    #HeaderWrapper .sessionTrigger {
        line-height: 30px;
        display: inline-block;
    }
}

@media (min-width: 993px) and (max-width: 1244px) {
    footer #widgetArea .redes li i {
        font-size: 16px;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: solid 1px rgba(255, 255, 255, 0.5);
        text-align: center;
        line-height: 40px;
        margin-right: 17px;
        color: #ffffff;
    }
    footer #widgetArea input[type="text"] {
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 28px;
        background-color: rgba(255, 255, 255, 0.05);
        border: solid 1px rgba(255, 255, 255, 0.3);
        padding-left: 30px;
        margin-top: 25px;
        color: #ffffff;
    }
    footer p.tlf {
        font-size: 22px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #ffffff;
    }
    footer a.email {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
        color: #ffffff;
        text-decoration: underline;
    }
}

@media(min-width:768px) and (max-width:1200px) {
    .gallery-item {
        header {
            height: 233px;
        }
    }
    .ctaGroupPreview {
        .text-right {
            text-align: left !important;
        }
    }
    .category {
        display: inline-block;
        line-height: 40px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.3px;
        color: #1d1d1d;
        max-width: 100%;
    }
}

@media(min-width:1200px) {}

@media(min-width:1300px) {}
