<div class="actividadWrapper">
<div class="row">
  <div class="col-xs-10">
  <% activity.addresses.each do |address| %>
    <p class="distrito"><%= address.district %></p>
  <% end %>
    <h3 class="titular"><%= activity.name %></h3>
  </div>
</div>
</div>
