//$('#fecha').datepicker('setDates', '<%= escape_javascript(@day) %>'); 
$('#activities').append('<h4 class="numActividades"><span><%= @timetables.count %></span> actividades</h4>   <%= escape_javascript(render partial: 'timetables/timetable', collection: @timetables, locals: {day_s: @day}) %>');