<%= javascript_include_tag 'activities' %>
<div class="container-fluid">
  <h1 class="titlePage">Agenda de actividades solidarias</h1>
  <div class="row">
    
    <div class="col-md-12">
            <div id="activities">
            <h4 class="numActividades"><span><%= @activities.count %></span> actividades</h4>
                <%= render partial: 'activity', collection: @activities %>  
            </div>
    </div>
  </div>
</div>

<% if @activities.current_page != @activities.total_pages %>
<p id="view-more">

   <%= link_to('Ver Más', url_for(page: @activities.current_page + 1), {:remote => true}) %>
</p>
<% end%>