<div class="bg-fluid1">
  <div class="container">
    <div class="col-md-3">
      <div class="hidden-print menuVertical  normal">
        <div class="enlacesMenuVertical">
          <div class="botonesFuenteImprimir">
            <div class="separadorIzq">
              <a href="#" id="btnMenuVerticalAumentarFuente" class="btnMenuVerticalAumentarFuente"><span class="text-hide">Aumentar fuente</span></a>
              <a href="#" id="btnMenuVerticalReducirFuente" class="btnMenuVerticalReducirFuente"><span class="text-hide">Reducir fuente</span></a>
            </div>
            <div class="separadorIzq">
              <a href="#" id="btnMenuVerticalImprimir" class="btnMenuVerticalImprimir"><span class="text-hide">Imprimir</span></a>
            </div>
          </div>
          <div class="botonesCompartir">
            <form action="#" class="formMenuVerticalMas">
              <button type="submit" class="btnMenuVerticalMas">
              <span class="text">Suscríbete a este contenido</span>
              </button>
            </form>
            <a href="#" class="btnMenuVerticalCompartir"><span class="text">COMPARTE ESTA PÁGINA</span></a>
          </div>
          <div class="popupMenuSocial">
            <a href="#" class="linkCerrarPopupSocial" title="Cerrar"><span class="text-hide">Cerrar Comparte esta página</span></a>
            <ul class="listaCompartirEn">
              <li>
                <a href="#" class="compartir-link compartir-facebook">En Facebook</a>
              </li>
              <li>
                <a href="#" class="compartir-link compartir-twitter">Twitter</a>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>