<footer>
    <div id="widgetArea" class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-5 column">
                <h3>Contacta con nosotros</h3>
                <p class="tlf">+34 912 345 678</p>
                <a class="email" href="">infovoluntarios@ejemplo.com</a>
            </div>
            <div class="col-md-4 col-sm-7 column">
                <%= link_to 'Subscríbete a nuestro blog', mailchimp_path, class: 'email' %>
            </div>
            <div class="col-md-4 col-sm-12 column">
                <h3>Síguenos en:</h3>
                <nav>
                    <ul class="redes">
                        <li><a href="https://www.facebook.com/voluntariospormadrid/" target: "blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://twitter.com/voluntmadrid", target: "blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://www.instagram.com/voluntariosxmadrid/" target: "_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li><a href="https://www.youtube.com/channel/UC8LQ25uGMGHE7wq5ihMx_7A" target: "_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>
</div>
</div>
</div>
<div id="linkArea" class="container-fluid">
<div class="row">
<div class="col-md-8 text-left links1">
<nav>
    <ul class="links">
        <li>Ayuntamiento de Madrid <span class="anio"></span></li>
        <li><a href="/conditions">Pólitica de privacidad</a>,</li>
        <li><a href="/conditions">Condiciones de uso</a>,</li>
        <li><a href="">Accesibilidad</a></li>
    </ul>
</nav>
</div>
<div class="col-md-4 text-right links2">
<nav>
    <ul class="redes">
        <li><a href="https://www.facebook.com/voluntariospormadrid/">Facebook</a>,</li>
        <li><a href="https://twitter.com/voluntmadrid">Twitter</a>,</li>
        <li><a href="https://www.instagram.com/voluntariosxmadrid/">Instagram</a>,</li>
        <li><a href="https://www.youtube.com/channel/UC8LQ25uGMGHE7wq5ihMx_7A">Youtube</a></li>
    </ul>
</nav>
</div>
</div>
</div>
</footer>