<!--<footer>
	<div class="row-full">
		<div class="row">

      

    <div class="subfooter row">
      <div class="small-12 medium-9 column">
        <p>
          <%= t("layouts.footer.copyright", year: Time.now.year) %>&nbsp;|&nbsp;
         
        </p>
      </div>

     
    </div>
  </div>
</footer>

-->
<br/>
<br/>
<br/>


<footer >




<div class="bg-fluid5">
  <div class="container">
    <div class="follow">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="follow-title">Síguenos en redes sociales</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <ul class="row">
            <li class="col-xs-12 col-sm-6">
              <div class="follow-item">
                <span class="follow-icon twitter">Twitter</span>
                <ul class="follow-item-elements">
                  <li><a href="#" class="follow-link">@MADRID</a></li>
                  <li><a href="#" class="follow-link">@EmergenciasMad</a></li>
                  <li><a href="#" class="follow-link">@Ayto_de_Madrid</a></li>
                </ul>
              </div>
            </li>
            <li class="col-xs-12 col-sm-6">
              <div class="follow-item">
                <span class="follow-icon facebook">Facebook</span>
                <ul class="follow-item-elements">
                  <li><a href="#" class="follow-link">ayuntamientodemadrid</a></li>
                  <li><a href="#" class="follow-link">bpmmadrid</a></li>
                  <li><a href="#" class="follow-link">Información Juvenil</a></li>
                  <li><a href="#" class="follow-link">CentroCentro Cibeles</a></li>
                </ul>
              </div>
            </li>
            
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>





  <div class="bg-fluid4">
    <div class="container">
      <div class="row footer-copy nofluid">
        <div class="col-sm-7 pull-right-sm">
          <ul class="list-inline">
            <li><a class="fc-item" href="http://www.madrid.es/certificadosadmitidos">Certificados admitidos</a></li>
            <li><a class="fc-item" href="http://www.madrid.es/contactar">Contactar </a></li>
            <li><a class="fc-item" href="http://www.madrid.es/avisolegal">Aviso legal</a></li>
            <li><a class="fc-item" href="http://www.madrid.es/protecciondatos">Protección de datos </a></li>
          </ul>
        </div>
        <div class="col-sm-5">
          <span class="fc-title">Ayuntamiento de Madrid, 2015. <strong>Todos los derechos reservados</strong></span>
        </div>


        




      </div>
    </div>
  </div>
</footer>


