<div class="bg-fluid1">
  <div class="container">
    <ul class="breadcrumbs hidden-xs">
      <li>
        <a class="bc-item bc-item-home" href="http://www.madrid.es"><span>Home</span></a>
      </li>
      <li>
        <a class="bc-item " href="https://sede.madrid.es"><span>Sede electrónica</span></a>
      </li>
      <li>
        <a class="bc-item " href="https://sede.madrid.es/empresas"><span>Empresas</span></a>
      </li>
      <li>
        <span class="bc-item bc-item-last">Domiciliación de tributos</span>
      </li>
    </ul>
  </div>
</div>